@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@custom-variant dark (&:is(.dark *));

:root {
  --ui-container: var(--container-md);
  --success: oklch(0.7419 0.2286 142.83); /* green ( #32cd32 ) */
  --border-success: oklch(0.4941 0.1171 143.55); /* 50% darker green */
  --error: oklch(0.628 0.2577 29.23); /* red ( #FF0000 ) */
  --border-error: oklch(0.4092 0.1405 26.02); /* 50% darker red */
  --partial: oklch(0.7773 0.1548 94.41); /* 50% saturated version of dark */
  --border-partial: oklch(0.5079 0.084729 96.5611); /* 50% darker */
  --ui-discord: oklch(0.5798 0.2086 273.97); /* blurple */
  --ui-bluesky: oklch(0.623 0.206557 255.1921); /* #0085ff */
  --ui-reddit: oklch(0.6593 0.230058 35.2202); /* Reddit Orange */
}

.dark {
  --success: oklch(0.707 0.198 143.12); /* 25% desaturated green */
  --border-success: oklch(
    0.4784 0.0961 143.89
  ); /* 50% darker 25% desaturated green */
  --error: oklch(
    0.5875 0.23028198786691845 28.262177188593004
  ); /* 25% desaturated red  */
  --border-error: oklch(
    0.4034 0.1181 24.08
  ); /* 50% darker 25% desaturated red */
  --partial: oklch(0.7022 0.1206 96.42); /* (#b59f3b) wordle partial color */
  --border-partial: oklch(0.4734 0.0589 97.04); /* 50% darker yellow */
}

.colorblind {
  --success: oklch(0.6495 0.1913 253.63); /* dodger blue ( #1e90ff ) */
  --border-success: oklch(0.4668 0.1129 251.61); /* 50% darker dodger blue */
  --error: oklch(0.7442 0.181171 56.4585); /* orange ( #FFA500 ) */
  --border-error: oklch(0.4811 0.0805 67.36); /* 50% darker orange */
  /* I need to remember to change the color blind color since pink doesn't work in a lot of cases */
  --partial: oklch(0.7699 0.1378 3.77); /* flamingo pink ( #fc8eac ) */
  --border-partial: oklch(0.4088 0.1185 7.87); /* 50% darker orange */
}

.dark.colorblind {
  --success: oklch(0.6402 0.1587 251.8); /* 25% desaturated dodger blue */
  --border-success: oklch(
    0.4641 0.0938 250.54
  ); /* 50% darker 25% desaturated dodger blue */
  --error: oklch(
    0.7085 0.15751444810927523 61.3026009422698
  ); /* 25% desaturated orange */
  --border-error: oklch(
    0.5021 0.0818 80.39
  ); /* 50% darker 25% desaturated orange */
  --partial: oklch(0.7758 0.1102 2.68); /* 25% desaturated orange */
  --border-partial: oklch(
    0.4088 0.1185 7.87
  ); /* 50% darker 25% desaturated orange */
}

@theme static {
  --font-noto-sans: Noto Sans, sans-serif;
  --font-roboto: Roboto, sans-serif;

  --color-success: var(--success);
  --color-error: var(--error);
  --color-partial: var(--partial);

  --color-border-success: var(--border-success);
  --color-border-error: var(--border-error);
  --color-border-partial: var(--border-partial);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html,
  body {
    @apply bg-neutral-100 dark:bg-neutral-950;
  }

  body {
    @apply font-noto-sans;
  }
}
